---
import Instagram from "./icons/social-network/Instagram.astro"
import Twitter from "./icons/social-network/Twitter.astro"
import Youtube from "./icons/social-network/Youtube.astro"

interface Props {
  imagePath : string
  name : string
  instagram : string
  twitter : string
  youtube : string
}

const {imagePath, name, instagram, twitter, youtube} = Astro.props
---

<div class="min-w-[275px] max-w-[275px] min-h-[448px] max-h-[448px] bg-[#222] rounded-xl text-white flex flex-col justify-center items-center">
  <picture>
    <img src={imagePath} alt={name} class="rounded-xl">
  </picture>
  <p class="text-lg font-bold my-[18px]">{name}</p>
  <section class="flex gap-4">
    <a href={instagram} target="_blank" class="hover:text-[#faff00]" aria-label="Instagram"><Instagram class="size-10" /></a>
    <a href={twitter} target="_blank" class="hover:text-[#faff00]" aria-label="Twitter"><Twitter class="size-10"/></a>
    <a href={youtube} target="_blank" class="hover:text-[#faff00]" aria-label="Youtube"><Youtube class="size-10"/></a>
  </section>

</div>