---
import Button from "./Button.astro";
import Check from "../../public/Check.astro";

interface Props {
  membership: string;
  price: string;
  items: Array<String>;
  href: string;
  name: string;
}

const { membership, price, items, href, name } = Astro.props;
---

<div class="w-[300px] min-w-[280px]" id="container">
  <div class="bg-[#222] rounded-t-xl border-b-2 border-black py-[22px]" id="top">
    <h2 class="text-white text-lg font-bold text-center">{membership}</h2>
    <p class="text-white text-2xl font-medium text-center">$ {price}</p>
  </div>

  <div class="bg-[#222] rounded-b-xl py-7 px-6 flex flex-col items-center">
    <ul class="flex flex-col gap-y-4 mb-7 overflow-auto h-[195px]">
      {items.map((item) => (
          <li class="text-white font-light sm:leading-5 flex"><div class="mt-1 mr-1"><Check class="size-[22px]"/></div>{item}</li>
        ))}
    </ul>
    <Button href={href} name={name} class="bg-[#faff00] py-3 px-6 rounded-[30px] font-bold text-sm uppercase"/>
  </div>
</div>

<style>
  h2,
  li,
  p {
    font-family: "Inter Variable", sans-serif;
  }

  #container:hover #top {
    transition: background-color 0.5s;
    background-color: #faff00;
  }

  #container:hover h2,
  #container:hover p {
    transition: background-color 0.5s;
    color: black;
  }
</style>
