---
import Button from "./Button.astro";
import Check from "./icons/Check.astro";

interface Props {
  membership: string;
  price: string;
  items: Array<String>;
  href: string;
  name: string;
}

const { membership, price, items, href, name } = Astro.props;
---

<div class="min-w-[275px] max-w-[275px] min-h-[397px] max-h-[397px] bg-[#222] rounded-xl flex flex-col " id="container">
  
  <div class="min-h-[100px] rounded-t-xl border-b-2 border-black flex flex-col justify-center" id="top">
    <h2 class="text-white text-lg font-bold text-center">{membership}</h2>
    <p class="text-white text-2xl font-medium text-center">$ {price}</p>
  </div>

  <div class="bg-[#222] py-6 px-6 flex flex-col items-center flex-grow">
    <ul class="flex flex-col gap-y-2 overflow-auto">
      {items.map((item) => (
          <li class="text-white font-light text-sm sm:leading-5 flex"><div class="mt-1 mr-1"><Check class="size-[20px]"/></div>{item}</li>
        ))}
    </ul>
  </div>

  <div class="flex justify-center items-center mb-9">
    <Button href={href} name={name} class="bg-[#faff00] py-3 px-6 rounded-[30px] font-bold text-xs uppercase"/>
  </div>
</div>

<style>
  h2,
  li,
  p {
    font-family: "Inter Variable", sans-serif;
  }

  #container:hover #top {
    transition: background-color 0.5s;
    background-color: #faff00;
  }

  #container:hover h2,
  #container:hover p {
    transition: background-color 0.5s;
    color: black;
  }
</style>
